name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: test
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install Node js
        uses: actions/setup-node@v1
        with:
          node-version: 13.14
      - name: Install dependencies
        run: npm ci
      - name: Run linter
        run: make lint
